 b <body>
<div class="text">
    <link rel="stylesheet" type="text/css" href="../assets/welcom.css">
    <span>T</span>
    <span>O</span>
    <span></span>
    <span></span>
    <span>D</span>
    <span>O</span>
</div>

</body>
<body>
<form action="login&register.html" method="post">
    <div class="container">
        <div class="center">
        <button class="btn">
            <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
                <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line"/>
                <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line"/>
            </svg>
            <span>Sign & Register</span>
        </button>
</form>
</div>
<img src="../assets/4d2de200cdc1de2bb0675cceddfb5859.png" align="middle">

</div>
</body>

